<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>386367190208-gtdis6lhtdadf7nb0bimd2filev2i48q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386367190208-gtdis6lhtdadf7nb0bimd2filev2i48q</string>
	<key>API_KEY</key>
	<string>AIzaSyDGtL6LO8cO0QXTqKyy6QQ_Eud-svatVAI</string>
	<key>GCM_SENDER_ID</key>
	<string>386367190208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.testingFCM</string>
	<key>PROJECT_ID</key>
	<string>tabelionatoamorim</string>
	<key>STORAGE_BUCKET</key>
	<string>tabelionatoamorim.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386367190208:ios:9cbb3dcf323d5bf2</string>
	<key>DATABASE_URL</key>
	<string>https://tabelionatoamorim.firebaseio.com</string>
</dict>
</plist>